Autofac
Castle.Core
Castle.Windsor
Common.Logging
CommonServiceLocator
log4net
Microsoft.CompilerServices.AsyncTargetingPack
Microsoft.Data.Edm
Microsoft.Data.OData
Microsoft.WindowsAzure.ConfigurationManager
Newtonsoft.Json
Ninject
Ninject.Extensions.ContextPreservation
Ninject.Extensions.NamedScope
NServiceBus
NServiceBus.AcceptanceTesting
NServiceBus.AcceptanceTests.Sources
NServiceBus.Autofac
NServiceBus.CastleWindsor
NServiceBus.Interfaces
NServiceBus.Ninject
NServiceBus.Spring
NServiceBus.StructureMap
NServiceBus.Unity
NUnit
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
System.Spatial
WindowsAzure.Storage
