log4net
Microsoft.CompilerServices.AsyncTargetingPack
Microsoft.Data.Edm
Microsoft.Data.OData
Microsoft.WindowsAzure.ConfigurationManager
Newtonsoft.Json
NServiceBus
NServiceBus.AcceptanceTesting
NServiceBus.AcceptanceTests.Sources
NServiceBus.Interfaces
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
System.Spatial
WindowsAzure.Storage
